<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getName()}">Value</p>
<p th:text="${person.getEmail()}">Value</p>
<p th:text="${person.getAge()}">Value</p>
<p th:text="${person.getId()}">Value</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<a th:href="@{/people}">All users</a>

<form
        th:method="DELETE"
        th:action="@{/people/{id}(id=${person.getId()})}"
>
    <input type="submit" value="Delete">
</form>
</body>
</html>